bin
obj
/.vs/BuberDinner/FileContentIndex
.vs/BuberDinner/DesignTimeBuild/.dtbcache.v2
.vs/BuberDinner/v17/.futdcache.v2
.vs/BuberDinner/v17/.suo
.vs/ProjectEvaluation/buberdinner.metadata.v5.1
.vs/ProjectEvaluation/buberdinner.projects.v5.1
